# Servidor
PORT=
NODE_ENV=

# Base de datos
DATABASE_URL=

# Frontend Redirects
FRONTEND_URL=

# Google OAuth2.0 credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# JWT
JWT_SECRET=

# Third Party
RESEND_API_KEY=


